<div ng-controller="LoginCtrl">
    
    <div data-ng-show="!isLoggedIn()">
        
        <h2 class="h">כניסה לרשומים</h2>

        <form name="form" class="form-horizontal">
            <div class="control-group" ng-class="{error: form.Text.$invalid}">
                <input type="text" ng-model="cred.username" id="Mail" name="Mail" placeholder="שם משתמש">
            </div>
            <div class="control-group" ng-class="{error: form.Priority.$invalid}">
                <input type="password" ng-model="cred.password" id="Password" name="Password" placeholder="סיסמה">
            </div>
        
            <br/>

            <div class="form-actions">
                <button ng-click="login()" class="btn btn-primary">
                    כניסה
                </button>
            </div>
        </form>

        <table style="margin:10px">
            <tbody>
                <tr>
                    <td>
                        <a href="#/signup" class="btn"  style="margin:10px; background-color: #ffffff">הרשמה</a>
                    </td>
                    <td>
                    <a href="" ng-click="toggle_forget_password()" class="btn" style="margin:10px; background-color: #ffffff">שכחתי סיסמה</a>
                </tr>
            </tbody>
        </table>

        <form ng-show="Data.isForgetPassword" name="form" class="form-horizontal">
            <div data-ng-controller="ForgetPasswordCtrl">
                
                 הזן את כתובת המייל שלך והסיסמא תישלח לשם
                <br/>
                <div class="control-group" ng-class="{error: form.Text.$invalid}">
                    <input type="text" ng-model="user.email" id="ForgetMail" name="Mail" placeholder="כתובת מייל">
                </div>
   
                <br/>

                <div class="form-actions">
                    <button ng-click=" forgetPassword()" class="btn btn-primary">
                        שלח
                    </button>
                </div>

            </div>
           
        </form>

    </div>
    
    <div data-ng-show="isLoggedIn()">
        
        <h2 class="h">שלום {{user.username}} </h2>
        
        <br/>

        <div class="form-actions">
            <button ng-click="logout()" class="btn btn-primary">
                יציאה
            </button>
        </div>
        
        <br/>

        <!-- <div class="form-actions">
            <button ng-click="settings()" class="btn btn-primary">
                הגדרות
            </button>
        </div> -->
        
        <button class="btn btn-success" data-ng-click="settings()">
                            <span class="glyphicon glyphicon-save"></span>    הגדרות
        </button>


    </div>
   
</div>