<h2>הוסף מכרז חדש</h2>
<br/>
<form>
    <div>
        <label>קטגוריה:</label>
        <select ng-model="selectedOption" ng-options="option.name for option in options" ng-change="update_selected_option()"></select>
    </div>
    <div>
        <label>תת קטגוריה:</label>
        <select ng-model="selectedSubOption" ng-options="option.name for option in subOptions" ng-change="update_selected_subOption()"></select>
    </div>
    <div>
        <label>מוצר:</label>
        <select ng-model="selectedProduct" ng-options="option.name for option in products"></select>
    </div>
    <div>
        <label>כמות:</label>
        <input type="number" ng-model="amount" min="1"/>
    </div>
    <div>
        <label>מועד סיום המכרז:</label>
        <input type="datetime-local" ng-model="dueDate"
               placeholder="yyyy-MM-dd" min="2001-01-01" max="2013-12-31" required />
    </div>
</form>

<hr>
<button class="btn btn-success" ng-disabled="error || incomplete" ng-click="addBid()">
<span class="glyphicon glyphicon-save"></span>  הוסף מכרז
</button>
