<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="TodoContext"
         connectionString="Server=127b5b9d-9baa-4d9c-9f5f-a45600fbf83c.sqlserver.sequelizer.com;Database=db127b5b9d9baa4d9c9f5fa45600fbf83c;User ID=hhfnourdvbwuinmb;Password=u7dJebdqvhDoFCwmH33KWG5gAyhNnwF5oZZ33Sqro5iAtAJvPQpzM2pVc5iN3wc7;" />
  </connectionStrings>
</configuration>